/* css змінні */

:root {
  --logo-black: #000000;
  --logo-white: #ffffff;
  --header-border: #ececec;
  --blue-accent: #2196f3;
  --hover-text-accent: #ffffff;
  --main-color: #212121;
  --minor-color: #757575;
  --bg-accent: #f5f4fa;
  --portfolio-borders-color: #eeeeee;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --secondary-bg: #2f303a;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /* padding: 0 15px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid tomato;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  outline: 1px solid chartreuse;
}

/* Власні відступи елементів */

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Скинуті стилі списків з усіх сторінок */

.nav-list,
.features,
.doing-list,
.team,
.filter,
.pf-list,
.address-list {
  list-style: none;
}

/* Шапка сайту */

/* .header {} */

header .container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation {
  display: flex;
  align-items: center;
}

/* Логотип */

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo-web {
  color: var(--blue-accent);
}

.logo-black {
  color: var(--logo-black);
}

/* Навігація */

.nav-list {
  display: flex;
}

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

ul > .nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  color: var(--main-color);
  text-decoration: none;
}

.nav:hover,
.nav:focus {
  color: var(--blue-accent);
}

.nav.current {
  color: var(--blue-accent);
}

/* Контакти хедера */

.nav.contact {
  color: var(--minor-color);
}

a.contact:hover,
a.contact:focus {
  color: var(--blue-accent);
}

/* Головний контент сторінки студії */

/* Герой */

.hero {
  background-color: var(--secondary-bg);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.heading {
  color: var(--hover-text-accent);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: var(--bg-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;

  cursor: pointer;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--blue-accent);
  color: var(--hover-text-accent);
}

/* Особливості */

.features-heading {
  margin: 0;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);

  margin: 0;
  padding: 0;
}

.feature-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-color);

  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

/* Чим ми займаємося */

.doing.section {
  padding-top: 0;
}

.doing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin: 0;
}

.doing-item {
  padding: 0;
}

/* Команда */

.team {
  background-color: var(--bg-accent);
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-member {
  background-color: var(--hover-text-accent);
}

.member-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/* Головний контент сторінки портфоліо */

/* Фільтр */

.filter .button {
  background-color: var(--bg-accent);
  color: var(--main-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  /* display: inline-block; */

  border: none;
  cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--blue-accent);
  color: var(--hover-text-accent);
}

/* Портфоліо */

.pf-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.pf-list .type {
  color: var(--minor-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Підвал */

.footer {
  background-color: var(--secondary-bg);
}

.logo-white {
  color: var(--logo-white);
}

.address-list a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact.location {
  color: white;
}

address .contact {
  color: var(--footer-contact-color);
}
