    /* css змінні */

:root {
    --logo-black: #000000;
    --logo-white: #FFFFFF;
    --header-border: #ECECEC;
    --blue-accent: #2196F3;
    --hover-text-accent: #FFFFFF;
    --main-color: #212121;
    --minor-color: #757575;
    --bg-accent: #F5F4FA;
    --portfolio-borders-color: #EEEEEE;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
}

/* Шапка сайту */

/* 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
*/

.header-container {
    
}

body {
    background-color: #FFFFFF;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--blue-accent);
}

.logo-black {
    color: var(--logo-black);
}

.nav-list {
    list-style: none;
}

.nav-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav {
    color: var(--main-color);
    text-decoration: none;
}

.nav:hover,
.nav:focus {
    color: var(--blue-accent);
}

.nav.current {
    color: var(--blue-accent);
}

.nav.contact {
    color: var(--minor-color);
}

a.contact:hover,
a.contact:focus {
    color: var(--blue-accent);
}

    /* Головний контент сторінки студії */

    
.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--bg-accent);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: var(--blue-accent);
    color: var(--hover-text-accent);
}

.features,
.doing-list,
.team {
    list-style: none;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.feature-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--minor-color);
}

.doing-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-section {
    background-color: var(--bg-accent);
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-member {
 background-color: var(--hover-text-accent);
}

.member-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--minor-color);
}



    /* Головний контент сторінки портфоліо */

    /* Фільтр */

.filter {
    list-style: none;
}

.filter .button {
    background-color: var(--bg-accent);
    color: var(--main-color);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter .button:hover,
.filter .button:focus {
    background-color: var(--blue-accent);
    color: var(--hover-text-accent);
}

    /* Портфоліо */

.portfolio {
    list-style: none;
}

.portfolio h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .type {
    color: var(--minor-color);
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

    /* Підвал */

.footer {
    background-color: var(--footer-bg);
}

.logo-white {
    color: var(--logo-white);
}

.address a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts {
    list-style: none;
}

.contacts a {
    text-decoration: none;
}

.contacts .location {
    color: white;
}

address .contact {
    color: var(--footer-contact-color);
}